@import "src/styles/mixins";
@import "../../styles/pallet";

@mixin listBlockBase {
  margin: 4px 0;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.root {
  @include resetLi;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  background: $white;

  &:nth-child(even) {
    background: $light-gray;
  }
}

.name {
  @include listBlockBase;

  flex: 2 1 90px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.link {
  @include listBlockBase;

  width: 110px;
  text-decoration: none;
  color: $blue
}

.language {
  @include listBlockBase;

  flex: 0 2 90px;
}

.starsCount {
  @include listBlockBase;

  flex: 0 0 70px;
}

.button {
  @include niceButton(true);

  flex: 0 0 100px
}

@media (max-width 600px) {
  .name {
    width: 90px;
  }
}